.gauge-container {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 5em;
}

.gauge-container svg {
  width: 5em;
  height: 5em;
}

.gauge-container .inner {
  position: absolute;
  bottom: 10px;
  width: 5em;
  text-align: center;
}
